<%- include ../header.ejs %>	

<% if (messdata_cadastros.error) { %>
	<p style="color:red"><%- messdata_cadastros.error %></p>
<% } %>

<% if (messdata_cadastros.success) { %>
	<p style="color:green"><%- messdata_cadastros.success %></p>
<% } %>

<form action="/espetaculos/add" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>Name</td>
			<td><input type="text" name="name" id="name" value="<%= name %>" /></td>
		</tr>
		<tr> 
			<td>data_cadastro</td>
			<td><input type="text" name="data_cadastro" value="<%= data_cadastro %>" /></td>
		</tr>
		<tr> 
			<td>data_apresentacao</td>
			<td><input type="text" name="data_apresentacao" value="<%= data_apresentacao %>" /></td>
		</tr>
		<tr> 
			<td></td>
			<td><input type="submit" name="Submit" value="Add" /></td>
		</tr>
	</table>
</form>


<%- include ../footer.ejs %>
